<!-- views/home.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="/styles/navStyles.css">
    <link rel="stylesheet" href="/styles/gridStyles.css">
</head>

<body>
    <header>
        <%- include('./partials/mobileHeader'); %>
    </header>
    <div class="container">
        <h1>Recent Posts</h1>
    </div>
    <div class="image-container">
        <% portfolioPhotos.forEach((photo, index) => { %>
        <div class="image-wrapper" onclick="redirectTo('<%= photo.description %>')">
            <img src="<%= photo.imageUrl %>" alt="<%= photo.description %>">
        </div>
        <% }); %>
    </div>
    <script>
    function redirectTo(desc) {
        // 
        if (desc === 'drift') {
            window.location.href = "/grid/cars/drifting";
        } else if (desc === 'japan') {
            window.location.href = "/grid/japan";
        } else if (desc === 'cars') {
            window.location.href = "/grid/cars/all";
        }else if (desc === 'surf') {
            window.location.href = "/grid/surfing";
        }else if (desc.includes('ai')) {
            window.location.href = "/grid/aiContent";
        }else if (desc.includes('bird')) {
            window.location.href = "/grid/birds";
        }


    }
    </script>
</body>

</html>