<nav class="navbar">
    <div class="containerNav">
        <a href="/" class="nav-link">Home Page</a>
        <a href="/grid" class="nav-link">Portfolio</a>
        <a href="/contact" class="nav-link">Contact</a>
        <a href="/blog" class="nav-link">Blog</a>
    </div>
</nav>

